.card {
  width: 413px;
  height: 445px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 413px;
}

.card__title {
  margin: 12px 0 0;
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  background-color: transparent;
  border: none;
  width: 23px;
  height: 20px;
  top: 425px;
  left: auto;
  opacity: 0.4;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__content {
    max-width: 288px;
    line-height: 18px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
    max-width: 95px;
  }

  .card__like-button {
    height: 18px;
  }
}
/*

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  width: 119px;
  height: 24px;
  top: 425px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(33, 33, 33, 1);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 320px;
}



.card__like-button:hover {
  opacity: 1;

}

@media screen and (max-width: 627px) {
  .card {
    width: 288px;
    height: 318px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    height: 18px;
    justify-content: space-between;
  }
}