.card__image-container {
  display: flex;
  position: relative;
  z-index: 0;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;

}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 413px;
}

.card__title {
  margin: 12px 0 0;
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;

}

.card__like-button {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;


}

.card__like-button:hover {
  opacity: 1;
  transition: background-color 0.5s linear;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__content {
    max-width: 288px;
    line-height: 18px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    justify-content: space-between;

  }

  .card__like-button {
    height: 18px;
  }
}
